<div class="container-fluid">


  
    <div class="row">
    
    <div class="col-lg-2 col-xs-2"></div>
    
    <div class="col-lg-2 col-xs-2"><b style="margin-left: 50px;">LOGO</b></div>
    
    <div class="col-lg-3 col-xs-3"><b>Museum of <br>Performing Arts</b></div>
    
    <div class="col-lg-2 col-xs-3">+91 99999 99999</div>
    
    <div class="col-lg-2 col-xs-2">info@gmail.com</div>
    
    </div>
    
    </div>
    <div style="background-color: black;">
        <nav class="navbar navbar-expand-sm bg-light navbar-light"style="margin-left:100px;" >
        <ul class="nav navbar-nav" >
          
            
            <li> <a routerLink="/home">Home</a></li> 
            <li><a routerLink="/event">Events</a></li>
            <li><a routerLink="/about">About</a></li>
            <li><a routerLink="/support">SupportUs</a></li>
            <li><a routerLink="/visit">Visit</a></li>
            <li><a routerLink="/shop">Shop</a></li>
            <li><a routerLink="/member">Member-Area</a></li>
            <li><a routerLink="/facilities">Facilities</a></li>
          </ul>
          </nav>
        </div>
        <router-outlet></router-outlet>
        
  
